page-news {
   
    .t{
        background-color: rgb(150, 22, 22);
        font-size: 2em;
    }

    // .back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button{
    //     color: black;
    // }
    .z{
        height: 50%;
    }
    h1{
        height: 30%;
        text-align: center;
        padding-left: -30%;
        color: white;
    }
}
